@tailwind base;
@tailwind components;
@tailwind utilities;

$slate-600: #475569;
@mixin btn {
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid white;
    outline: none;
    border-radius: 2rem;
    text-align: center;
    width: 10rem;

    &:hover {
        color: white;
        background-color: black;
    }
}

@mixin bg-gradient-anim($direction, $color1) {
    background: linear-gradient($direction, $color1, rgba(0, 0, 0, 0));
    background-size: 400% 400%;

    @if $direction ==180deg {
        -webkit-animation: bg-gradient-anim-top 15s ease infinite;
        -moz-animation: bg-gradient-anim-top 15s ease infinite;
        -o-animation: bg-gradient-anim-top 15s ease infinite;
        animation: bg-gradient-anim-top 15s ease infinite;

        @-webkit-keyframes bg-gradient-anim-top {
            0% {
                background-position: 50% 0%
            }

            50% {
                background-position: 50% 100%
            }

            100% {
                background-position: 50% 0%
            }
        }

        @-moz-keyframes bg-gradient-anim-top {
            0% {
                background-position: 50% 0%
            }

            50% {
                background-position: 50% 100%
            }

            100% {
                background-position: 50% 0%
            }
        }

        @-o-keyframes bg-gradient-anim-top {
            0% {
                background-position: 50% 0%
            }

            50% {
                background-position: 50% 100%
            }

            100% {
                background-position: 50% 0%
            }
        }

        @keyframes bg-gradient-anim-top {
            0% {
                background-position: 50% 0%
            }

            50% {
                background-position: 50% 100%
            }

            100% {
                background-position: 50% 0%
            }
        }
    }

    @else if $direction ==270deg {
        -webkit-animation: bg-gradient-anim-right 15s ease infinite;
        -moz-animation: bg-gradient-anim-right 15s ease infinite;
        -o-animation: bg-gradient-anim-right 15s ease infinite;
        animation: bg-gradient-anim-right 15s ease infinite;

        @-webkit-keyframes bg-gradient-anim-right {
            0% {
                background-position: 0% 50%
            }

            50% {
                background-position: 100% 50%
            }

            100% {
                background-position: 0% 50%
            }
        }

        @-moz-keyframes bg-gradient-anim-right {
            0% {
                background-position: 0% 50%
            }

            50% {
                background-position: 100% 50%
            }

            100% {
                background-position: 0% 50%
            }
        }

        @-o-keyframes bg-gradient-anim-right {
            0% {
                background-position: 0% 50%
            }

            50% {
                background-position: 100% 50%
            }

            100% {
                background-position: 0% 50%
            }
        }

        @keyframes bg-gradient-anim {
            0% {
                background-position: 0% 50%
            }

            50% {
                background-position: 100% 50%
            }

            100% {
                background-position: 0% 50%
            }
        }
    }

}
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.onePage {
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    scroll-snap-align: start;

    &#About {
            @include bg-gradient-anim(180deg, $slate-600);
        }
    &#Contact {
        @include bg-gradient-anim(270deg, $slate-600);
        [type="submit"] {
            @include btn;
            cursor: pointer;
            background-color: transparent;
            color: white;
            border: 2px solid white;
            width: 100%;
            font-size: 1.5rem;
        }
    }
}

nav {
    a:not([href="#Atlas"]) {
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 5px;
            background-color: white;
            position: absolute;
            bottom: -10px;
            left: 0;
            transform: scaleX(0);
            transition: .5s;
        }

                                                                                                                                                                                                                                                                &:hover:not([id="getTickets"]),
                                                                                                                                                                                                                                                                &.active {
            &::after {
                transform: scaleX(1);
            }
        }

                                                                                                                                                                                                                                                                &#getTickets {
            @include btn;
        }
    }
}

.btn {
    @include btn;
    display: inline-block;
    padding: 0.25rem 0;
    margin: 2rem 3rem;
    font-size: 1.25rem;

    &:hover {
        color: white;
        background-color: black;
    }
}

.social-media {
    transition: .2s;

    &:hover {
        transform: scale(1.5);
    }
}
#particles {
    z-index: -1;
}

.gradient-text {
    background: linear-gradient(to right, #FFF 20%, $slate-600 40%, $slate-600 60%, #FFF 80%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 10s ease-in infinite;

    @keyframes shine {
        to {
            background-position: 200% center;
        }
    }
}